---
layout: base
title: Photo
pagination:
  data: photos.7kmsoc3.media
  size: 1
  alias: photo

permalink: 'photos/{{ pagination.pageNumber | plus: 1 }}/'
---

<header>
  <h1>{{ title }}</h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{ pagination.href.first }}">First</a></li>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      <li>Page {{ pagination.pageNumber | plus: 1 }}</li>
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      <li><a href="{{ pagination.href.last }}">Last</a></li>
    </ul>
  </nav>
</header>

<main>
  <section style="background-color: {{ photo.avg_color }};">
    <h2>Photo with caption</h2>
    <hr>
    <figure>
    <img src="{{ photo.src.large }}" alt="{{ photo.alt }}">
    <figcaption>{{photo.alt}}</figcaption>
    </figure>
  </section>

  <p>Photographer: {{ photo.photographer }}</p>
  <p><a href="{{ photo.photographer_url }}">{{ photo.photographer }}'s Pexels Website</a></p>
</main>
